.App {
  max-width: 600px;
  margin: 35px auto;
}

.App footer {
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
  color: white;
}

.hero {
    position: relative;
    overflow: hidden;
    height: 100vh;
    background: rgba(0, 0, 0, 0.25);
}
.video-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}
